<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{{titulo}}</title>
</head>
<body>
	<div id='body'>

		{% block messages %}
			{% if messages %}
		
			<ul class="messages">

    			{% for message in messages %}
    			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}

			</ul>
			
			{% endif %}
		{% endblock %}

		{% block body %}

			{{titulo}}

			<div id='cabecera'>
				{% block cabecera %} 
					<header>
						<nav>
							<a href='{% url "home" %}'>Inicio</a>|
  							<a href='{% url "contacto" %}'>Contacto</a>|
  							<a href='{% url "inmuebles" %}'>Inmuebles</a>|
  							<a href='{% url "noticias" %}'>Noticias</a>
						</nav>
					</header>
				{% endblock %}
			</div> 

			<div id='cuerpo'>
				{% block cuerpo %}
					<main>
						Cuerpo: {{titulo}}
					</main>
				{% endblock %}
			</div>
			
			<div id='pie'>
				{% block pie %}
					<footer>
						Pie: {{titulo}}
					</footer>		
				{% endblock %}
			</div> 

		{% endblock %}
		
	</div>
</body>

{% block scripts %}
	
{% endblock %}

</html>