{% extends 'djEj1/basenoticias.html' %}

{% block cuerpo %}

	{{ block.super }}
	
	<div id='creanoticia'>
	  	<a href='{% url "creanoticia" %}'>Crea tu noticia</a>
	</div>
	
	<div id='noticias'>
		<ul>
		{% for noticia in noticia_list %}
	    	<li>
	    		<a href = '{% url "noticia" noticia.id %}'>{{ noticia.titulo }}</a>
	    	</li>
		{% endfor %}
		</ul>
	</div>

	{% block paginacion %}
	
		{% if is_paginated %}
		<div class="paginacion">
	    	<span class="enlaces_parciales">
    	    	{% if page_obj.has_previous %}
            		<a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        		{% endif %}

        		<span class="current">
		            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        		</span>

        		{% if page_obj.has_next %}
	            	<a href="?page={{ page_obj.next_page_number }}">siguiente</a>
        		{% endif %}
    		</span>
		</div>
	
		<br>

		{% endif %}

	{% endblock %}

{% endblock %}